.todo-input {
    width: 50%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.title-row {
    position: relative;
    left: 100px;
    flex-grow: 2;
}

.title-row > p {
    font-size: 24px;
}

.title-row > input {
    width: 200px;
}

.body-row {
    position: relative;
    right: 100px;
    flex-grow: 2;
}

.body-row > p {
    font-size: 24px;
}

.body-row > input {
    width: 200px;
}

.submit-row {
    flex-grow: 1;
}




